html {
  width: 100%;
}
 body {
      background-color: #F1F6F9;
      font-family: 'Roboto';
}
.hero_after {
    background: linear-gradient(60deg, #420285, #08BDBD);
    padding: 40px 0;
    padding-top: 100px;
  }
  footer {
    background: linear-gradient(60deg, #420285, #08BDBD);
    height: 330px;
    width: auto;
    position: relative;
    top: 80px;
  }
  @media screen and (max-width: 768px) {
    footer {
      height: auto;
      width: auto;
      position: relative;
      top: 20px;
      clip-path: none;
    }
  }
  .Copyright {
  font-size: 15px;
  padding-left: 35px;
  padding-top: 100px;
}
  .item-footer {
    display: flex;
    justify-content: left;
    padding-left: 2%;
    font-family: "Roboto";
    font-size: 25px;
    color: white;
    padding-top: 15px;
  }
  @media screen and (max-width: 768px) {
  footer {
    height: auto;
    width: auto;
    position: relative;
    top: 20px;
  }
}
  a {
    color: #2e7d32;
    text-decoration: none;
  }
  a:hover {
    color: green;
    text-decoration: underline;
  }
  .item-footer2 {
    justify-content: right;
    padding-right: 2%;
    display: flex;
    font-size: 20px;
  }
  @media screen and (max-width: 768px) {
    .item-footer2 {
      justify-content: left;
      display: flex;
      font-size: 15px;
      padding-left: 8px;
    }
  }
  .item-footer3 {
    justify-content: right;
    display: flex;
    font-size: 20px;
    padding-top: 8px;
    padding-right: 40px;
  }
  @media screen and (max-width: 768px) {
    .item-footer3 {
      justify-content: left;
      display: flex;
      font-size: 15px;
      padding-left: 8px;
    }
  }
  
.header-wrap{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.header {
  display: flex;
  position: sticky;
  z-index: 999;
  top: 0;
}
h1 {
    text-align: center;
    padding-top: 50px;
    font-family: 'Cinzel';
    color: white !important; 
}
h2{
    font-size: 40px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    h2 {
        font-size: 14px;
    }
}
h3{
    font-size: 25px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.box-area{
    width: 930px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}
@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}
@media screen and (max-width: 768px) {
    h2 {
      padding-top: 15px;
      text-align: center;
      font-size: 14px;
    }
  }
#coButton {
  margin-top: 20px;
}
  .cookie-consent {
  z-index: 99;
  position: fixed;
  max-width: 22rem;
  left: 6.5rem;
  bottom: 25px;
}


.cookie-consent .cookie-button {
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transform: scale(0) rotate(-200deg);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-color: #ddaa65;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCA2MCI+PGRlZnM+PHN0eWxlPi5ie2ZpbGw6Izg0M308L3N0eWxlPjwvZGVmcz48Y2lyY2xlIGN4PSIzMCIgY3k9IjMwIiByPSIzMCIgZmlsbD0iI2RkYWE2NSIgR29vZ2w9InRydWUiLz48Y2lyY2xlIGNsYXNzPSJiIiBjeD0iMTUuNSIgY3k9IjIxLjUiIHI9IjMuNSIvPjxjaXJjbGUgY2xhc3M9ImIiIGN4PSIzNC41IiBjeT0iMTIuNSIgcj0iMy41Ii8+PGNpcmNsZSBjbGFzcz0iYiIgY3g9IjIwLjUiIGN5PSI0NS41IiByPSIzLjUiLz48Y2lyY2xlIGNsYXNzPSJiIiBjeD0iMzcuNSIgY3k9IjUzLjUiIHI9IjMuNSIvPjxjaXJjbGUgY2xhc3M9ImIiIGN4PSI0OC41IiBjeT0iMzguNSIgcj0iMy41Ii8+PGNpcmNsZSBjbGFzcz0iYiIgY3g9IjM0IiBjeT0iMzMiIHI9IjYiLz48L3N2Zz4=");
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  left: 25px;
  height: 60px;
  width: 60px;
}


.cookie-consent .cookie-popin {
  z-index: 99;
  position: relative;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background: #fff;
  padding: 1rem 1.75rem;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}


.cookie-consent .cookie-popin::before {
  content: "";
  height: 2.4rem;
  width: 1.4rem;
  left: 0;
  bottom: 0.7rem;
  position: absolute;
}


.cookie-consent .cookie-popin .title {
  font-weight: 900;
  font-size: 1.4rem;
  color: #333;
}


.cookie-consent .cookie-popin .description {
  font-size: 0.8rem;
  margin-bottom: 0.9rem;
  color: #999;
}
.cookie-consent .cookie-popin .description a {
  color: #52bab3;
}


.cookie-consent .cookie-popin .user-choice {
  position: relative;
}


.cookie-consent .cookie-popin .user-choice::after {
  content: "";
  z-index: -1;
  position: absolute;
  height: 1.3rem;
  width: 1.3rem;
  background: #fff;
  border-top-right-radius: 0.2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transform: rotate(45deg);
  left: -0.4rem;
  margin-top: 1rem;
}


.cookie-consent .cookie-popin .user-choice .auth-button {
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #292e49;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0.18rem 0.3rem 0.05rem rgba(0, 0, 0, 0.2);
  font-size: 0.7rem;
}


.cookie-consent .cookie-popin .user-choice .auth-button-light {
  background-color: #fff;
  color: #292e49;
}


.cookie-consent.-deploy .cookie-button {
  transform: scale(1) rotate(0);
}
.cookie-consent.-deploy .cookie-popin {
  transform: scale(1);
}
