html {
  width: 100%;
}
body{
   background-color:#F1F6F9;
    font-family: "Roboto";
}
h1{
    font-weight: 700;
    text-decoration: underline;
    font-family: "Roboto";
}
@media screen and (max-width: 768px) {
    h1 {
        text-align: center;
        font-size: 18px;
    }
}
p{
    font-family: "Roboto";
    font-size: 25px;
    padding-left: 10%;
    font-style: italic;
    color: white;
    padding-top: 30px;
}
@media screen and (max-width: 768px) {
    p {
    font-size: 12px;
    padding-left: 10%;
    font-style: italic;
    }
}
.hero_after {
background-image: url(../images/pexels-ketut-subiyanto-4436365.jpg);
background-size: cover;
background-position: center;
width: 100%;
height: 600px;
padding: 40px 0;
padding-top: 200px;
}
strong{
    font-weight: 900;
}
header{
    background-color:  white;
    width: auto; 
    height: auto;
    position: sticky;
    z-index: 999;
    top: 0;
}
footer{
    background: linear-gradient(60deg, #420285, #08BDBD);
    height: 330px;
    width: auto;
}
.Copyright {
  font-size: 15px;
  padding-left: 35px;
  padding-top: 100px;
}
@media screen and (max-width: 768px) {
    footer {
    background-color:  #9DB2BF;
    height: 300px;
    width: auto;
    clip-path: none;
    }
}
.item-footer{
    display: flex;
    justify-content: left;
    padding-left: 2%;
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
      color: rgba(255, 255, 255, 0.671);
    text-decoration: underline;
}
.item-footer2 {
    justify-content: right;
    padding-right: 2%;
    display: flex;
    font-size: 20px;
    color: green;
    text-decoration: none;
  }
  @media screen and (max-width: 768px) {
    .item-footer2 {
      justify-content: left;
      display: flex;
      font-size: 15px;
      padding-left: 15px;
    }
  }
  .item-footer3 {
    justify-content: right;
    display: flex;
    font-size: 20px;
    padding-top: 8px;
    padding-right: 40px;
  }
  @media screen and (max-width: 768px) {
    .item-footer3 {
      justify-content: left;
      display: flex;
      font-size: 15px;
      padding-left: 15px;
    }
  }
span{
    text-decoration: underline;
}                                                         
#success-message {
    opacity: 0;
  }
  
  .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding: 0 20% 0 20%;
  }
  
  .margin-top-25 {
    margin-top: 25px;
  }
  
  .form-title {
    padding: 25px;
    font-size: 30px;
    font-weight: 300;
  }
  
  .form-group .form-control {
    box-sizing: none;
    border-bottom: 1px;
    border-style: none none solid none;
    border-radius:0; 
    border-color: #000;
  }
  
  .form-group .form-control:focus {
      box-shadow: none;
    border-width: 0 0 2px 0;
    border-color: green;
    
  }
  textarea {
    resize: none;
  }
  
  .btn-mod.btn-large {
      height: auto;
      padding: 13px 52px;
      font-size: 15px;
  }
  
  .btn-mod.btn-border {
      color: #000000;
      border: 1px solid #000000;
      background: transparent;
  }
  
  .btn-mod, a.btn-mod {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 4px 13px;
      color: #fff;
      background: rgba(34,34,34, .9);
      border: 1px solid transparent;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod.btn-border:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {
      color: #fff;
      border-color: #000;
      background: green;
      outline: none;
  }
  
  @media only screen and (max-width: 500px) {
      .btn-mod.btn-large {
         padding: 6px 16px;
         font-size: 11px;
      }
    
      .form-title {
          font-size: 20px;
    }
  }  
img{
    border-radius: 30px;
    max-width: 100%;
}
.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
}
@media screen and (max-width: 768px) {
    h2 {
      padding-top: 15px;
      text-align: center;
      font-size: 12px;
    }
  }





  @keyframes smiley-blink {
	0% {
		margin-top: 36%;
		height: 2%;
		border-radius: 25%;
	}
	1%, 100% {
		margin-top: 30%;
		height: 16%;
		border-radius: 50%;
	}
}

@keyframes smiley-look-to-sides-left-eye {
	0% {
		margin-left: 27%;
	}
	0.5%, 5% {
		margin-left: 17%;
	}
	6%, 9% {
		margin-left: 30%;
	}
	9.5%, 100% {
		margin-left: 27%;
	}
}

@keyframes smiley-look-to-sides-right-eye {
	0% {
		margin-right: 27%;
	}
	0.5%, 5% {
		margin-right: 37%;
	}
	6%, 9% {
		margin-right: 24%;
	}
	9.5%, 100% {
		margin-right: 27%;
	}
}

section {
	position: relative;
	display: inline-block;
	background-color: transparent;
	padding: 50px;
	margin: 20px 0 0 0;
  padding-top:  100px;
  padding-left: 850px;
}
.smiley {
	position: relative;
	width: 200px;
	height: 200px;
  margin-left: 250px;
	border-radius: 50%;
}

.smiley .smiley-eye {
	position: relative;
	width: 16%;
	height: 16%;
	background-color: #fff;
	margin-top: 30%;
	border-radius: 50%;	
}

/*.smiley .smiley-eye:before {
	content: " ";
	position: absolute;
	top: 40%;
	left: 50%;
	width: 30%;
	height: 30%;
	border-radius: 50%;
	background-color: #38ae37;
} */

.smiley .smiley-left-eye {
	float: left;
	margin-left: 27%;
}

.smiley.happy-state .smiley-left-eye {
	animation: smiley-blink 10s ease-in 2s infinite normal, smiley-look-to-sides-left-eye 10s linear 0s infinite normal;
}
	
.smiley .smiley-right-eye {
	float: right;
	margin-right: 27%;
}

.smiley.happy-state .smiley-right-eye {
	animation: smiley-look-to-sides-right-eye 10s linear 0s infinite normal;	
}

.smiley.blink .smiley-left-eye {
	height: 2%;
	margin-top: 36%;
	border-radius: 25%;
}

.smiley.happy-state .smiley-mouth {
	position: absolute;
	background-color: #fff;
	width: 50%;
	height: 20%;
	bottom: 22%;
	left: 50%;
	margin-left: -25%;
	border-radius: 0 0 1000px 1000px;
}

.smiley.sad-state .smiley-mouth {
	position: absolute;
	background-color: #fff;
	width: 50%;
	height: 20%;
	bottom: 24%;
	left: 50%;
	margin-left: -25%;
	border-radius: 1000px 1000px 0 0;
}

@keyframes smiley-cry {
	0% {
		width: 1%;
		height: 1%;
		opacity: 0;
		top: 45%;
		right: 78%;
		transform: rotate(-20deg);
	}
	2% {
		opacity: 1;
		bottom: 45%;
	}
	10% {
		width: 10%;
		height: 10%;		
	}
	15% {
		transform: rotate(-45deg);
		top: 50%;
	}
	25% {
		opacity: 1;
	}
	32% {
		top: 95%;
		opacity: 0;
	}
	45% {
		top: 95%;
		opacity: 0;
	}
	50%, 100% {
		top: 100%;
		opacity: 0;
	}
}

.smiley .smiley-tear {
	position: absolute;
	top: 45%;
	right: 78%;
	width: 10%;
	height: 10%;
	background-color: rgba(255,255,255,1);
	border-top-left-radius: 100%;
  	border-bottom-left-radius: 100%;
  	border-bottom-right-radius: 100%;
	-webkit-transform: rotate(-20deg);
	transform: rotate(-20deg);
	animation: smiley-cry 4s ease-in 0s infinite normal;	
}


.smiley.happy-state {
	background-color: #38ae37;
}

.smiley.sad-state {
	background-color: #a93333;
} 

  .cookie-consent {
  z-index: 99;
  position: fixed;
  max-width: 22rem;
  left: 6.5rem;
  bottom: 25px;
}


.cookie-consent .cookie-button {
  transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
  transform: scale(0) rotate(-200deg);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-color: #ddaa65;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MCA2MCI+PGRlZnM+PHN0eWxlPi5ie2ZpbGw6Izg0M308L3N0eWxlPjwvZGVmcz48Y2lyY2xlIGN4PSIzMCIgY3k9IjMwIiByPSIzMCIgZmlsbD0iI2RkYWE2NSIgR29vZ2w9InRydWUiLz48Y2lyY2xlIGNsYXNzPSJiIiBjeD0iMTUuNSIgY3k9IjIxLjUiIHI9IjMuNSIvPjxjaXJjbGUgY2xhc3M9ImIiIGN4PSIzNC41IiBjeT0iMTIuNSIgcj0iMy41Ii8+PGNpcmNsZSBjbGFzcz0iYiIgY3g9IjIwLjUiIGN5PSI0NS41IiByPSIzLjUiLz48Y2lyY2xlIGNsYXNzPSJiIiBjeD0iMzcuNSIgY3k9IjUzLjUiIHI9IjMuNSIvPjxjaXJjbGUgY2xhc3M9ImIiIGN4PSI0OC41IiBjeT0iMzguNSIgcj0iMy41Ii8+PGNpcmNsZSBjbGFzcz0iYiIgY3g9IjM0IiBjeT0iMzMiIHI9IjYiLz48L3N2Zz4=");
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  left: 25px;
  height: 60px;
  width: 60px;
}


.cookie-consent .cookie-popin {
  z-index: 99;
  position: relative;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background: #fff;
  padding: 1rem 1.75rem;
  transform: scale(0);
  transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
}


.cookie-consent .cookie-popin::before {
  content: "";
  height: 2.4rem;
  width: 1.4rem;
  left: 0;
  bottom: 0.7rem;
  position: absolute;
}


.cookie-consent .cookie-popin .title {
  font-weight: 900;
  font-size: 1.4rem;
  color: #333;
}


.cookie-consent .cookie-popin .description {
  font-size: 0.8rem;
  margin-bottom: 0.9rem;
  color: #999;
}
.cookie-consent .cookie-popin .description a {
  color: #52bab3;
}


.cookie-consent .cookie-popin .user-choice {
  position: relative;
}


.cookie-consent .cookie-popin .user-choice::after {
  content: "";
  z-index: -1;
  position: absolute;
  height: 1.3rem;
  width: 1.3rem;
  background: #fff;
  border-top-right-radius: 0.2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transform: rotate(45deg);
  left: -0.4rem;
  margin-top: 1rem;
}


.cookie-consent .cookie-popin .user-choice .auth-button {
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #292e49;
  color: #fff;
  padding: 0.4rem 1rem;
  border-radius: 0.2rem;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 0.18rem 0.3rem 0.05rem rgba(0, 0, 0, 0.2);
  font-size: 0.7rem;
}


.cookie-consent .cookie-popin .user-choice .auth-button-light {
  background-color: #fff;
  color: #292e49;
}


.cookie-consent.-deploy .cookie-button {
  transform: scale(1) rotate(0);
}
.cookie-consent.-deploy .cookie-popin {
  transform: scale(1);
}
h3 {
  text-align: center;
}















@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.box-area{
    width: 930px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}
@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}


.captcha {
	background-color:#f9f9f9;
	border:2px solid #d3d3d3;
	border-radius:5px;
	color:#4c4a4b;
	display:flex;
  height: 150px;
  width: 50vh;
	justify-content:center;
	align-items:center;
 
}
.re-p {
  font-size: 14px;
  padding-left: 110px;
}
.captcha-img {
  margin-left: 110px;
  margin-top: 30px;
}
@media screen and (max-width: 500px) {
	.captcha {
		flex-direction:column;
	}
	.text {
		margin:.5em!important;
		text-align:center;
	}
	.logo {
		align-self: center!important;
	}
	.spinner {
		margin:2em .5em .5em .5em!important;
	}
}

.text {
	font-size: 12px;
	font-weight:500;
	margin-right:1em;
}
.spinner {
	position:relative;
	width:2em;
	height:2em;
	display:flex;
	margin:2em 1em;
	align-items:center;
	justify-content:center;
}
input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }
input[type="checkbox"]+.checkmark {
	display:inline-block;
	width:2em;
	height:2em;
	background-color:#fcfcfc;
	border:2.5px solid #c3c3c3;
	border-radius:3px;
	display:flex;
	justify-content:center;
	align-items:center;
	cursor: pointer;
}
input[type="checkbox"]+.checkmark span {
	content:'';
	position:relative;/*
	position:absolute;
	border-bottom:3px solid;
	border-right:3px solid;
	border-color:#029f56;*/
	margin-top:-3px;
	transform:rotate(45deg);
	width:.75em;
	height:1.2em;
	opacity:0;
}
input[type="checkbox"]+.checkmark>span:after {
	content:'';
	position:absolute;
	display:block;
	height:3px;
	bottom:0;left:0;
	background-color:#029f56;
}
input[type="checkbox"]+.checkmark>span:before {
	content:'';
	position:absolute;
	display:block;
	width:3px;
	bottom:0;right:0;
	background-color:#029f56;
}
input[type="checkbox"]:checked+.checkmark { 
	animation:2s spin forwards;
}
input[type="checkbox"]:checked+.checkmark>span { 
	animation:1s fadein 1.9s forwards;
}
input[type="checkbox"]:checked+.checkmark>span:after {animation:.3s bottomslide 2s forwards;}
input[type="checkbox"]:checked+.checkmark>span:before {animation:.5s rightslide 2.2s forwards;}
@keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes bottomslide {
	0% {width:0;}
	100% {width:100%;}
}
@keyframes rightslide {
	0% {height:0;}
	100% {height:100%;}
}
.logo {
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100%;
	align-self:flex-end;
	margin:0.5em 1em;
}
.logo img {
	height:2em;
	width:2em;
}
.logo p {
	color:#9d9ba7;
	margin:0;
	font-size:1em;
	font-weight:700;
	margin:.4em 0 .2em 0;
}
.logo small {
	color:#9d9ba7;
	margin:0;
	font-size:.8em;
}
@keyframes spin {
	10% {
		width:0;
		height:0;
		border-width:6px;
	}
	30% {
		width:0;
		height:0;
		border-radius:50%;
		border-width:1em;
		transform: rotate(0deg);
		border-color:rgb(199,218,245);
	}
	50% {
		width:2em;
		height:2em;
		border-radius:50%;
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	70% {
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	90% {
		border-width:4px;
	}
	100% {
		width:2em;
		height:2em;
		border-radius:50%;
		transform: rotate(720deg);
		border-color:transparent;
	}
}