@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

h1 {
   margin-left: 120px;
}
p {
   text-transform: uppercase;
   margin-left: 30px;
   padding-top: 20px;
}